*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    body{
    text-align: center;
    margin: 10px auto;
    }
    .contador{
    margin:0 170px;
    padding-bottom: 100px;
    }
    .title{
    font-size: 85px;
    margin-bottom: 20px;
    color: rgb(192, 23, 207);
    }
    .text{
    font-size: 85px;
    margin-bottom: 10px;
    }
    button {
        font-size: 25px;
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
    }
    .incrementar {
        background-color: #a631d4;
    }
    .reset {
        background-color: #d83ccb;
    }
    .disminuir {
        background-color: #e41010;
    }